<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Our Products</h1>
    <ul>
        {% for product in catalog %}
        <li>
            <!-- product's category's name -->
            <!--Category: {{product.category.name }} |-->
            Cateogry: {{ product.category }} |
            {{product.name }} x {{product.stock}} 
            <a href='{% url "edit_product_route" id=product.id %}'>Edit</a>
            <a href='/delete_product/{{product.id}}'>Delete</a>    
        </li>
        {% endfor %}
    </ul>
</body>
</html>